p#header {
	text-align: right;
	font-weight: bold;
}

p, li {
	text-align: left;
}

p {
	padding-left: 3%;
	padding-right: 3%;
}
.ul {
	text-decoration: underline;
}

ul li{
	list-style-type: disc;
}

li > ul {
	margin-top: 2%;
	margin-bottom: 2%;
}

.italics {
	font-style: italic;
}

p#upload {
	text-align: center;
}

.bold {
	font-weight: bold;	
}